@media screen and (max-width:1200px){

  body {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    align-items: center;
    padding: 0;
    margin:0;
  }

  footer{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ffc400;
  }

  h1,h2{
    color: #ffc400;
    display: block;
    text-align: center;
    padding: 0.8rem 0.9rem;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  fieldset{
    margin-bottom: 1rem;
    color: #ffc400;
    display: block;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.8rem 0.9rem;
    width: 40%;
    overflow: hidden;
    justify-content: center;
    border: 1px solid #333 ;
    border-radius: 10px;
    background-color: #333;
  }

  p{                /* mudar o p pras medias queries */
    font-size: 1.2rem;
    }

    .tam{
      width: 18rem;
      object-fit: cover;
    }

  .form-submit-button {
    background: #333;
    color: white;
    border-style: outset;
    border-color: #333;
    height: 40px;
    width: 250px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    background-color: #111;
      
      }

      .form-submit-button2 {
        background: #ffc400;
        color: #333;
        border-style: outset;
        border-color: #ffc400;
        height: 30px;
        width: 150px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
          
          }
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itens {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #808080;
}

#r{
  float: right;
}


.banner{
  width: 100%;
}

.rowProdutos{
  display: flex;
  justify-content: space-between;
}

.itens li a{
  display:flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  flex-direction: row ;
}


@media screen and (max-width:768px){

  body {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
  }
  footer{
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.8rem 0.9rem;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ffc400;
  }

  h1,h2{
    color: #ffc400;
    display: block;
    text-align: center;
    padding: 0.8rem 0.9rem;
    margin: 0;
    background-color: #333;
    padding: 0;
    overflow: hidden;
  }
  
  fieldset{
    margin-bottom: 1rem;
    color: #ffc400;
    display: block;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.8rem 0.9rem;
    width: 40%;
    overflow: hidden;
    justify-content: center;
    border: 1px solid #333 ;
    border-radius: 10px;
    background-color: #333;
  }

  p{                /* mudar o p pras medias queries */
    font-size: 1rem;
    }

    .tam{
      width: 10rem;
      object-fit: cover;
    }

    .form-submit-button {
      background: #333;
      color: white;
      border-style: outset;
      border-color: #333;
      height: 40px;
      width: 250px;
      font: bold 15px arial, sans-serif;
      text-shadow:none;
        
        }

        .form-submit-button2 {
          background: #ffc400;
          color: white;
          border-style: outset;
          border-color: #ffc400;
          height: 30px;
          width: 200px;
          font: bold 15px arial, sans-serif;
          text-shadow:none;
            
            }

            .form-submit-button2 {
              background: #ffc400;
              color: #333;
              border-style: outset;
              border-color: #ffc400;
              height: 30px;
              width: 150px;
              font: bold 15px arial, sans-serif;
              text-shadow:none;
                
                }

}




@media screen and (max-width:320px){

  body {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
  }
  footer{
    font-size: 0.4rem;
    font-family: 'Times New Roman', Times, serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.8rem 0.9rem;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ffc400;
  }

  h1,h2{
    color: #ffc400;
    display: block;
    text-align: center;
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }
  
  fieldset{
    margin-bottom: 1rem;
    color: #ffc400;
    display: block;
    font-size: 0.5rem;
    text-align: center;
    padding: 0.8rem 0.9rem;
    width: 40%;
    overflow: hidden;
    justify-content: center;
    border: 1px solid #333 ;
    border-radius: 10px;
    background-color: #333;
  }

  p{                /* mudar o p pras medias queries */
    font-size: 0.8rem;
    }

    .tam{
      width: 8rem;
      object-fit: cover;
    }

    .form-submit-button {
      background: #333;
      color: white;
      border-style: outset;
      border-color: #333;
      height: 40px;
      width: 250px;
      font: bold 15px arial, sans-serif;
      text-shadow:none;
        
        }

        .form-submit-button2 {
          background: #ffc400;
          color: #333;
          border-style: outset;
          border-color: #ffc400;
          height: 30px;
          width: 150px;
          font: bold 15px arial, sans-serif;
          text-shadow:none;
            
            }

}

